body { background: #FDEFEC; }
form { max-width:420px; margin:50px auto; }

@font-face {
    font-family: "Nunito";
    src: url("../public/font/Nunito/static/Nunito-ExtraBold.ttf");
  }

  h1 {
    color: #f6a192;
    font-size: 50px;
    font-weight: 1000;
    -webkit-text-stroke: 1px #2a0a48;
    height: auto;
    width: auto;
    font-family: Nunito;
  }

  p {
    color: #0A0212;
    font-size: 30px;
    font-weight: 300;
    font-family: Nunito;
  }

  a {
    font-size: 20px;
    font-weight: 300;
    font-family: Nunito;
  }

  

#menu{
    width: 100%;
    height: 200px;
    background-color: chocolate;
}

#c-total {
    width:100%;
    height: 1500px;
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.c-sides {
    width: 15%;
    height: 1200x;
    background: rgb(63,15,108);
background: linear-gradient(90deg, rgba(63,15,108,1) 19%, rgba(42,10,72,1) 87%);  
}

/*fucking with bouncing element*/
img, div {
  width: 100px;
  height: 100px;
}

.x {
  animation: x 13s linear infinite alternate;
}

.y {
  animation: y 7s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 100px));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 100px));
  }
}

/*the gradient on the sides was fliped*/
.s-right{
  background: rgb(63,15,108);
background: linear-gradient(270deg, rgba(63,15,108,1) 19%, rgba(42,10,72,1) 87%);
}

#c-highlight-form{
    width: 70%;
    height: 1500px;
    background-color:#FDEFEC;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;


}

/*playing wiyh the arrows, container on top of other divs*/
#down-arrow-container{
  z-index: 2;
}
.down-arrow {
  position: absolute;
  
  width: 0;
  height: 90px;
  border: 6px solid purple;
  border-radius: 8px;
  animation: jumpInfinite 1.5s infinite;
}

/*arrows have the same class with properties (above), difference is one arrow is on the 
left and other is on the right*/
.left {
  top: 700px;
  left: calc(50% - 500px);
}

.right {
  top: 700px;
  left: calc(50% + 500px);
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 36px;
  left: -30px;
  width: 48px;
  height: 48px;
  border-bottom: 12px solid purple;
  border-right: 12px solid purple;
  border-radius: 10px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 60px;
  }
  100% {
    margin-top: 0;
  }
}





#c-upper-highlight{
    width:700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;

}

/*title was moved slightly on the right*/
#c-title{
    width:600px;
    height: 150px;
    margin-left: 20px;
    
}

#c-text{
    width:600px;
    height:200px;
   
}

#contact-form{
    width:900px;
    height: 600px;
    
    border:7px solid #F6A192;
    border-radius: 15px;
    padding: 50px 50px 0 0;
    
   
}


.feedback-input {
  color: #2A0A48;
  font-family: Nunito;
  font-weight:500;
  font-size: 25px;
  border-radius: 25px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 30px;
  width:500px;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Nunito;
  width: 80%;
  background:#F6BA13;
  border-radius:20px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.5s;
  margin: 20px 0 0 90px;
  font-weight:700;
}
[type="submit"]:hover { background:#3F0F6C; }



#footer {
  background-color: #f37d68;
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end; /*to be changed*/
}

#footer-div-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#footer-div-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  width: autos;
  height: 50px;
  padding: 20px;
  background-color: #f9beb4;
  border-color: #3f0f6c;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.social-icons object {
  -webkit-filter: grayscale(0);
  filter: none;
  transform: scale(1); /* scale is set to 1 by default */
  transition: transform 0.5s ease; /* transition effect for the transform property */
}

.social-icons object:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  transform: scale(1.5);
}

#footer-contact {
  width: auto;
  height: 160px;
}

#footer-contact a {
  padding: 14px 16px;
  font-size: 30px;
  display: block;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #fbdc89,
    #fbdc89 50%,
    #3f0f6c 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#footer-contact a:before {
  content: "";
  background: #fbdc89;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#footer-contact a:hover {
  text-decoration: none;
  background-position: 0;
}

#footer-contact a:hover:before {
  width: 100%;
}

#footer-text-above-icons h3 {
  color: #f8c332;
  font-size: 35px;
  font-weight: 300;
  -webkit-text-stroke: 1px #2a0a48;
}