body { background: #FDEFEC; }
form { max-width:420px; margin:50px auto; }

@font-face {
    font-family: "Nunito";
    src: url("../public/font/Nunito/static/Nunito-ExtraBold.ttf");
  }

  h1 {
    color: #f6a192;
    font-size: 40px;
    font-weight: 1000;
    -webkit-text-stroke: 1px #2a0a48;
    height: auto;
    width: auto;
    font-family: Nunito;
  }

  p {
    color: #0A0212;
    font-size: 20px;
    font-weight: 300;
    font-family: Nunito;
  }

  a {
    font-size: 20px;
    font-weight: 300;
    font-family: Nunito;
  }

  

#menu{
    width: 100%;
    height: 200px;
    background-color: chocolate;
}

#c-total {
    width:100%;
    height: 1200px;
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.c-sides {
    width: 15%;
    height: 1200x;
    background: rgb(175,111,235);
    background: linear-gradient(90deg, rgba(175,111,235,1) 0%, rgba(63,15,108,1) 43%);
}

#c-highlight-form{
    width: 70%;
    height: 1200px;
    background-color:#FDEFEC;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;

}

#c-upper-highlight{
    width:700px;
    height: 400px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#c-title{
    width:600px;
    height: 150px;
    background-color: #CC6666;
}

#c-text{
    width:400px;
    height:200px;
   
}

#contact-form{
    width:900px;
    height: 600px;
    
    border:7px solid #F6A192;
    border-radius: 15px;
    padding: 50px 50px 0 0;
    
   
}


.feedback-input {
  color:white;
  font-family: Nunito;
  font-weight:500;
  font-size: 25px;
  border-radius: 25px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 30px;
  width:500px;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Nunito;
  width: 80%;
  background:#F6BA13;
  border-radius:20px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.5s;
  margin: 20px 0 0 90px;
  font-weight:700;
}
[type="submit"]:hover { background:#3F0F6C; }



#footer {
  background-color: #f37d68;
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end; /*to be changed*/
}

#footer-div-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#footer-div-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  width: autos;
  height: 50px;
  padding: 20px;
  background-color: #f9beb4;
  border-color: #3f0f6c;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.social-icons object {
  -webkit-filter: grayscale(0);
  filter: none;
  transform: scale(1); /* scale is set to 1 by default */
  transition: transform 0.5s ease; /* transition effect for the transform property */
}

.social-icons object:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  transform: scale(1.5);
}

#footer-contact {
  width: auto;
  height: 160px;
}

#footer-contact a {
  padding: 14px 16px;
  font-size: 30px;
  display: block;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #fbdc89,
    #fbdc89 50%,
    #3f0f6c 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

#footer-contact a:before {
  content: "";
  background: #fbdc89;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#footer-contact a:hover {
  text-decoration: none;
  background-position: 0;
}

#footer-contact a:hover:before {
  width: 100%;
}

#footer-text-above-icons h3 {
  color: #f8c332;
  font-size: 35px;
  font-weight: 300;
  -webkit-text-stroke: 1px #2a0a48;
}