body {
  background-image: linear-gradient(90deg, #FDEFEC , #F9BEB4 , #F37D68 , #F9BEB4, #FDEFEC );
    z-index: 0;
    font-family: Nunito, sans-serif;
  }

  @font-face {
    font-family: "Nunito";
    src: url("../public/font/Nunito/static/Nunito-ExtraBold.ttf"); 
    }

.center {
    margin: auto;
    width: 70%;
    z-index: 0;
    padding: 10px;
  }

header {
  height: 100px;
  width:70%;
  background-image: url("../public/img/upscaled-bg-image.png");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row; 
}

#sidebar-menu {
  display:none;
  text-align: left;
  font-size: 25px;
  margin: 10px 0 0 45px ;
  z-index: 10; 
}

#menu {
  z-index: 1000;
}

#overlay{
  background: linear-gradient(90deg, #2A0A48 30%, #AF6FEB 70%);
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
}

td:nth-child(1) {
  text-align: right;
}

object {
  width:auto;
  height:60px;
  filter: grayscale(100%)
}

tr:hover object {
  filter:none;
}
a:hover object {
  filter:none;
}

/* Style navigation menu links */
#sidebar-menu a {
  padding: 14px 16px;
  display: block;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #F6BA13,
    #F6BA13 50%,
    #FDEFEC 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0 0 20px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out; 
}

#sidebar-menu a:before {
  content: '';
  background: #F6BA13;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

/* Remove a grey background color on mouse-over */
#sidebar-menu  a:hover {
  text-decoration: none;
  background-position: 0;
}

/* Remove a grey background color on mouse-over */
tr:hover #sidebar-menu  a {
  text-decoration: none;
  background-position: 0;
}

#sidebar-menu a:hover:before {
  width:100%;
}

#button-menu  {
    background-color: none;
    color: #FBDC89;
  }

#menu{
  display:flex;
  margin-top: 2.5%;
  margin-left: 10px;
  justify-content:flex-start;
  flex-wrap: wrap;
  width: 20%;
  height: auto;
}

#button-menu {
  display: flex;
  height: auto;
  justify-content: flex-start;
}

/* its a button*/
#hamburger-menu {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #F6A192;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.change {
  display: block;
}

.change .bar {
  background-color: #FBDC89;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

#container-1 {
    background-image: url("../public/img/upscaled-bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -170px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:-10px; 
}

.main-title {
  display: flex;
  align-self: center;
  margin: none;
  margin-right: 250px;
  max-height: 200px;
  max-width:300px;
  font-size: 60px;
  font-weight: 1000;
}

.main-title h1 {
  color: #F6BA13;
  -webkit-text-stroke: 3px #2A0A48;
}

#text-conteiner-1 {
  display: flex;
  height: 30px;
  width: 30%;
  margin: 0 60% 15% 40%;
  padding-top: 20px;
}

#text-conteiner-1 p {
  color:#FDEFEC;
  font-size:20px;
}

.landing-page {
  background-color: #FDEFEC;
  height: 2000px;
}

#container-2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1px;
  background: linear-gradient(rgb(63, 15, 108) 10%, rgb(249, 190, 180) 99%);
  border-radius: 10px;
  margin: 15px 5px 5px 0px;
  height: 250px;
  width: auto;
  align-content: center;
  flex-direction: column-reverse;
}

#center-icon  {
  transform: rotateY(0deg) rotate(0deg);
  transition: transform 2s;
  height: 120px;
  width: auto;
  align-self: center;

}

#center-icon:hover {
  transform: rotateY(180deg) rotate(45deg);
}

#left-icon:hover {
  transform: rotateY(180deg) rotate(45deg);
}

#right-icon:hover {
  transform: rotateY(180deg) rotate(45deg);
}

#left-icon {
  transform: rotateY(0deg) rotate(0deg);
  transition: transform 2s;
  height: 120px;
  width: auto;
  padding-right: 80px;
  padding-top: 10px;
}

#right-icon {
  transform: rotateY(0deg) rotate(0deg);
  transition: transform 2s;
  height: 120px;
  width: auto;
  transform: scaleX(-1);
  padding-right: 80px;
  padding-top: 10px;
}

#title-2-container h2 {
 margin: 0;
 padding-bottom: 10px;
}

/*add COMMENTSS*/
#container-3 {
    background-color: #FDEFEC;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #F9BEB4;
    border-radius: 10px;
    
    
}


#image-container-3 img {
  height: 350px;
  z-index: -1;
  padding-top: 25px;
  
  
}


#highlight-container-3-1 {
  width: 400px;
  height: auto;
  position:relative;
  z-index: 5;
  padding-top: 20px;
} 

#image-container-3{
  padding-left: 150px;
  max-height:500px;
  max-width: 500px;
  overflow: hidden;
  position:relative;
 
}

/* cta is general button with a effect */
.cta {
  width: 160px;
  height: 70px;
  background: #3F0F6C;
  cursor:pointer;
  border-radius: 25px;
  margin: 50px 0 50px 0;
  position: absolute;
  bottom: 0;
  z-index: 100;
  font-size: 20px;
  letter-spacing:1px;
  text-decoration: none;
  z-index: 150;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* properties bearly worked, better not touch it */
.cta  button {
  color: #F8C332;
  font-size: 20px;
  letter-spacing:1px;
  text-decoration: none;
  z-index: 150;
  background: inherit;
  border:none;
  
}


.cta  span.shape {
  height: 60px;
  width: 160px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.cta  span span {
  content:"";
  position: absolute;
  margin: auto;
  height: 8px;
  width: 2px;
  background: #3F0F6C;
  opacity: 0;
  z-index: 100;
}

.cta  span span:nth-of-type(1) {
  top: -20px;
  left: 0;
  right: 0;
  z-index: 100;
}

.cta  span span:nth-of-type(2) {
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 100;
}

.cta  span span:nth-of-type(3) {
  top:0;
  bottom: 0;
  left: -10px;
  z-index: 100;
}

.cta  span span:nth-of-type(4) {
  top:0;
  bottom: 0;
  right: -10px;
  z-index: 100;
}

.cta  span span:nth-of-type(5) {
  top: -20px;
  left: -70%;
  right: 0;
  transform:rotate(-30deg);
  z-index: 100;
}

.cta  span span:nth-of-type(6) {
  top: -20px;
  left: 0;
  right: -70%;
  transform:rotate(30deg);
  z-index: 100;
}

.cta  span span:nth-of-type(7) {
  bottom: -20px;
  right: 0;
  left: -70%;
  transform:rotate(30deg);
  z-index: 100;
}

.cta  span span:nth-of-type(8) {
  bottom: -20px;
  left: 0;
  right: -70%;
  transform:rotate(-30deg);
  z-index: 100;
}

/* button animation */
@keyframes bounce {
  0%{transform: scale(1);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}

.cta.active {
  animation: bounce 0.3s ease-out 1;
  z-index: 100;
}

.cta.active span span:nth-of-type(1) {
  animation: anim1 0.4s ease-out 1;
}
.cta.active span span:nth-of-type(2) {
  animation: anim2 0.4s ease-out 1;
}
.cta.active span span:nth-of-type(3) {
  animation: anim3 0.4s ease-out 1;
}
.cta.active span span:nth-of-type(4) {
  animation: anim4 0.4s ease-out 1;
}
.cta.active span span:nth-of-type(5) {
  animation: anim5 0.4s ease-out 1;
}
.cta.active span span:nth-of-type(6) {
  animation: anim6 0.4s ease-out 1;
}
.cta.active span span:nth-of-type(7) {
  animation: anim7 0.4s ease-out 1;
}
.cta.active span span:nth-of-type(8) {
  animation: anim8 0.4s ease-out 1;
}

/* rest of button animation, do not touch */
@keyframes anim1 {
  0%{transform: scaleY(0.5);opacity: 0;}
  50%{transform: translateY(-10px) scaleY(1.4); opacity: 1;}
  100%{transform: translateY(-20px) scaleY(0.5);opacity: 0;}
}
@keyframes anim2 {
  0%{transform: scaleY(1);opacity: 0;}
  50%{transform: translateY(10px) scaleY(1.4); opacity: 1;}
  100%{transform: translateY(20px) scaleY(0.5);opacity: 0;}
}
@keyframes anim3 {
  0%{transform: rotate(90deg) scaleX(0.5);opacity: 0;}
  50%{transform: rotate(90deg) translateY(10px) scaleX(1.4); opacity: 1;}
  100%{transform: rotate(90deg) translateY(20px) scaleX(0.5);opacity: 0;}
}
@keyframes anim4 {
  0%{transform: rotate(90deg) scaleX(0.5);opacity: 0;}
  50%{transform: rotate(90deg) translateY(-10px) scaleX(1.4); opacity: 1;}
  100%{transform: rotate(90deg) translateY(-20px) scaleX(0.5);opacity: 0;}
}
@keyframes anim5 {
  0%{transform: rotate(-30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(-30deg) translateY(-8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(-30deg) translateY(-16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim6 {
  0%{transform: rotate(30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(30deg) translateY(-8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(30deg) translateY(-16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim7 {
  0%{transform: rotate(30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(30deg) translateY(8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(30deg) translateY(16px) scaleY(0.5);opacity: 0;}
}
@keyframes anim8 {
  0%{transform: rotate(-30deg) scaleY(0.5);opacity: 0;}
  50%{transform: rotate(-30deg) translateY(8px) scaleY(1.4); opacity: 1;}
  100%{transform: rotate(-30deg) translateY(16px) scaleY(0.5);opacity: 0;}
}

/*this just a spacer between container 3 and 5, maybe it shoud have some kind of additional animation*/
#container-4 {
    background-color: #3F0F6C;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}

.right-icon-conteiner-4 {
  padding: 20px;
}

/*this is the gallery div*/
#container-5 {
    background-color: #FDEFEC;
    border-style: solid;
    border-width: 5px;
    border-color: #F9BEB4;
    border-radius: 10px;
    height: 510px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

/*text and title is aligned to the right*/
#highlight-container-5 {
  width: 300px;
  height: 340px;
  padding-left: 120px;
  position: relative;
  align-self:center;
  text-align: end;
}

#button-container-5 .cta {
  gap: 20px 0 0 0;
  position: absolute;
  right: 0;
}




/*3x3 grid was made for the gallery*/
#grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-right: 30px;
}

.grid-item {
  width: 200px;
  height: 120px;
  background-color: #2A0A48;
}

#grid-item-1 {
  background-image: url("../public/img/grid-img-1.png");
  background-size: cover;
}



footer {
    background-color: #401435;
    height: 200px;
}

@font-face {
  font-family: Nunito;
  src: url(../public/font/Nunito);
}

  h1 {
    display:flex;
    color: #0A0212;
    vertical-align: middle;  
  }

  p {
    color: #0A0212;
  }

  h2 {
    color: #F6A192;
    font-size: 40px;
    font-weight: 1000;
    -webkit-text-stroke: 1px #2A0A48;
    display:flex-start;
    height: auto;
    width:auto;
    padding-left: 15px;
    margin: 25px 0 0 0;
  }

  a {
    font-family: Nunito;
  }

  button {
    font-family: Nunito;
  }

  