body {
  background-image: linear-gradient(90deg, #FDEFEC , #F9BEB4 , #F37D68 , #F9BEB4, #FDEFEC );
    z-index: 0;
    font-family: Nunito, sans-serif;
  }

  @font-face {
    font-family: "Nunito";
    src: url("../public/font/Nunito/static/Nunito-ExtraBold.ttf"); 
    }

.center {
    margin: auto;
    width: 70%;
    z-index: 0;
    padding: 10px;
  }

header {
  height: 100px;
  width:70%;
  background-image: url("../public/img/upscaled-bg-image.png");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row; 
}

#sidebar-menu {
  display:none;
  text-align: left;
  font-size: 25px;
  margin: 10px 0 0 45px ;
  z-index: 10; 
}

#menu {
  z-index: 1000;
}

#overlay{
  background: linear-gradient(90deg, #2A0A48 30%, #AF6FEB 70%);
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
}

td:nth-child(1) {
  text-align: right;
}

object {
  width:auto;
  height:60px;
  filter: grayscale(100%)
}

object:hover {
  filter:none;
}

/* Style navigation menu links */
#sidebar-menu  a {
  color: #FBDC89;
  padding: 14px 16px;
  display: block;
  text-decoration: none; 
}

/* Remove a grey background color on mouse-over */
#sidebar-menu  a:hover {
  background-color: #3F0F6C;
  color: #F6BA13;
  text-decoration: none; 
}

#button-menu  {
    background-color: none;
    color: #FBDC89;
  }

#menu{
  display:flex;
  margin-top: 2.5%;
  margin-left: 10px;
  justify-content:flex-start;
  flex-wrap: wrap;
  width: 30%;
  height: auto;
}

#button-menu {
  display: flex;
  height: auto;
  justify-content: flex-start;
}

#hamburger-menu {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #F6A192;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.change {
  display: block;
}

.change .bar {
  background-color: #FBDC89;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

#container-1 {
    background-image: url("../public/img/upscaled-bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -170px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:-10px;
    
}

.main-title {
  display: flex;
  align-self: center;
  margin: none;
  margin-right: 250px;
  max-height: 200px;
  max-width:300px;
  font-size: 60px;
  font-weight: 1000;
}

.main-title h1 {
  color: #F6BA13;
  -webkit-text-stroke: 3px #2A0A48;
}

#text-conteiner-1 {
  display: flex;
  height: 30px;
  width: 30%;
  margin: 0 60% 15% 40%;
  padding-top: 20px;
}

#text-conteiner-1 p {
  color:#FDEFEC;
  font-size:20px;
}

.landing-page {
  background-color: #FDEFEC;
  height: 2000px;
}

#container-2 {
    background-color: #F37D68;
    height: 200px;
}

#container-3 {
    background-color: #F37D68;
    height: 400px;
}

#container-4 {
    background-color: #A2294C;
    height: 150px;
}

#container-5 {
    background-color: #0B4458;
    height: 510px;
}
footer {
    background-color: #401435;
    height: 200px;
}

@font-face {
  font-family: Nunito;
  src: url(../public/font/Nunito);
}

  h1 {
    display:flex;
    color: #0A0212;
    vertical-align: middle;  
  }

  p {
    color: #0A0212;
  }

  h2 {
    color: #F6A192;
    font-size: 40px;
    font-weight: 1000;
    -webkit-text-stroke: 1px #2A0A48;
    display:flex-start;
    height: auto;
    width:auto;
    padding-left: 15px;
    margin: 25px 0 0 0;
  }

  a {
    font-family: Nunito;
  }

  